@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Raleway;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url(./Images/soroush-karimi-FOVAjDi9ojQ-unsplash.jpg);
    background-repeat: no-repeat;
    position: absolute;
    align-content: center;
    justify-content: center;
    /* text-align: center; */
    background-size: cover;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: #fff;
}